
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background: rgb(90, 40, 107);
}

.container {
  background: #e9e2e2;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}


h2 {
  margin-bottom: 15px;
  color: #4b0082; 
}


#drawingArea {
  border: 2px solid #333;
  background: #f9f9f9;
  cursor: crosshair;
  transition: background 0.3s ease;
}

#drawingArea:hover {
  background: #e6e6fa; 
}
