/* Background styling */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #6a11cb, #2575fc); /* purple to blue */
}

.container {
  background: #2c6b79;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  width: 400px;
}


h2 {
  margin-bottom: 15px;
  color: #71418a;
}

select {
  padding: 6px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid #5a2578;
  outline: none;
  transition: 0.3s;
}

select:focus {
  border-color: #103936;
  box-shadow: 0 0 6px rgba(95, 29, 91, 0.622);
}


#productList {
  list-style: none;
  padding: 0;
}

#productList li {
  padding: 10px;
  margin: 6px 0;
  background: #dae7e2;
  border-radius: 6px;
  transition: 0.3s;
}

#productList li:hover {
  background: #e0e0e0;
}
